[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "9.4.0"
requests = "*"
pytz = "*"
python-dateutil = "*"
qrcode = "*"
waveshare-epd = {subdirectory = "RaspberryPi_JetsonNano/python", editable = true, git = "https://github.com/waveshare/e-Paper.git"}
weather-reporter = {editable = true, path = "./weather-reporter-package"}

[dev-packages]
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
