[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
